*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.tmp
[Bb]in/
[Dd]ebug/
obj/
[Rr]elease/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.log.*
[Ll]ogs/
[Dd]ata/
[Pp]ackages/
*nlog*.csv
nlog-404s.csv
imagecache/
[Aa]ssemblies/
[Rr]aven/
.vs/

# Windows Azure
csx/
rcf/

# Windows Azure Publish Settings contain security keys for accessing your Windows Azure account
.publishsettings

# Resharper Ignores
_ReSharper.*/
*.resharper.user

.sass-cache/

# Ignore build stuff
[Bb]uild/Artifacts/
[Ss]cripts-[Bb]uild/